# RENAME THIS FILE TO SCRIPT.CONF AND UPDATE VARIABLES
[WSCS]
URL: https://wscs.wellsky.com/YOURSITE
username: yourusername
password: yourpassword
# Update with values from your Community Services instance.  The short url works fine. 

[Tableau]
email: youremail
password: yourpassword
dashboardURL : https://public.tableau.com/app/profile/YOUR.NAME/viz/MYBEAUTIFULDASHBOARD/Dashboard
# Update with values from your tableau account.

[Google Drive]
fileID: 13JxxxxxxxxxxxxxxxxxxxxX
# This is found in the URL when viewing the sheet in Google Drive / Google Sheets

fileRegEx: ^CoC Dashboard
#fileRegEx The example above will match any file that begins being named with CoC Dashboard.  For example CoC Dashboard 2021 1241231.xls would match.  Setup a unique name for your scheduled Business Objects report.  This prevents the wrong report from being uploaded to Google Drive
